
#myHeader 
{
	background-color: lightblue;
	color: black;
	padding: 40px;
	text-align: center;
	font-size: 60px;
}
.column 
{
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after 
{
  content: "";
  display: table;
  clear: both;
}
