
#myHeader 
{
	background-color: lightblue;
	color: black;
	padding: 40px;
	text-align: center;
	font-size: 60px;
}

h3.shuffle
{
	color: magenta;
}


h3.cut
{
	color: magenta;
}

h3.break
{
	color: magenta;
}

h3.under
{
	color: magenta;
}

h3.double
{
	color: magenta;
}
p.break
{
	color: blue;
}

p.one
{
	color: blue;
}

p.two
{
	color: blue;
}

p.three
{
	color: blue;
}

p.four
{
	color: blue;
}